.participantForm {
  display: flex;

  flex-direction: column;

  gap: 12px;

  margin-bottom: 24px;

  padding: 18px;

  border-radius: 24px;

  background: rgba(255,255,255,0.7);

  backdrop-filter: blur(20px);

  box-shadow:
    0 4px 20px rgba(0,0,0,0.06);

  input {
    padding: 16px;

    border-radius: 16px;

    border: none;

    background: #ffffff;

    font-size: 16px;

    outline: none;
  }

  button {
    padding: 16px;

    border: none;

    border-radius: 16px;

    background: #0071e3;

    color: white;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;
  }
}